#aside {
  width: 21%;
  height: auto;
  margin: 10px;
}
.content {
  height: auto;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 20px 10px;
}
#container{
  height: auto;
  width: 1200px;
   margin: auto;
   max-width:1200px;
}
#blog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
  align-items: flex-start;
  background-color: white;
}
#allposts{
  width: 59%;
  display: inline-block;
  margin: 10px;
}
.aboutme {
  width: 20%;
  height: auto;
  display: inline-block;
  margin: 10px;
}
#inside{
  background-color: #f1f1f1;
  padding: 10px;
}
#inside img{
  width: 100%;
  height: auto;
}
body{
  background-color:#1f1f1f;
  overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    width: 75%;
}

/* Change the link color on hover 
li a:hover {
    background-color: #555;
    color: white;
    width: 90%;
}
*/

html{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-weight: lighter;
  line-height: 30px;
}
h5 {
  background-color: black;
  color: white;
  padding: 10px;
  width: auto;
}
.content, #holder h5, #holder a,.aboutme h5,#inside{
  box-shadow: 0px 5px 10px #999999;
}
h1{
   display: inline-block;
}
header{
  padding: 10px;
  background-color: black;
  color: white;
  height: 70px;
}



@media screen and (min-width: 850px){
  #moreBut{
   display: inline-block;
   visibility: hidden;
  }
  header{
    text-align: left;
  }
  .aboutme{
    visibility: visible;
    width: 20%;
  }
  #allposts{
    width: 59%;
  }
}


@media screen and (max-width: 1200px){
  #container{
    width: 100%;
  }
}


@media screen and (max-width: 849px){
  #moreBut{
   display: inline-block;
   visibility: visible;
  }
  header{
    text-align: center;
  }
  .aboutme{
    visibility: hidden;
    width: 0px;
  }
  #allposts{
    width: 79%;
    margin: 0px;
  }

}