#aside {
  width: 23%;
  height: auto;
  margin: 10px;
}
.content {
  height: auto;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 20px 10px;
}
#container{
  height: auto;
  width: 1200px;
   margin: auto;
   max-width:1200px;
}
header{
  padding: 10px;
  background-color: black;
  color: white;
  height: 100px;
}
#blog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
  align-items: flex-start;
  background-color: white;
}
#allposts{
  width: 67%;
  display: inline-block;
  margin: 10px;
}
.aboutme {
  width: 25%;
  height: auto;
  display: inline-block;
  margin: 10px;
}
#inside{
  background-color: #f1f1f1;
  padding: 10px;
}
#inside img{
  width: 100%;
  height: auto;
}
body{
  background-color:#1f1f1f;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    width: 185px;
}

/* Change the link color on hover 
li a:hover {
    background-color: #555;
    color: white;
    width: 90%;
}
*/

html{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-weight: lighter;
  line-height: 30px;
}
h5 {
  background-color: black;
  color: white;
  padding: 10px;
  width: 212px;
}

.aboutme h5{
  width: 250px;
}
.content, #holder h5, #holder a,.aboutme h5,#inside{
  box-shadow: 5px 5px 10px #999999;
}