.aside {
  width: 200px;
  background-color: #CAE1FF;
  padding: 10px;
  margin: 10px;
  border: 5px solid #9ED2FF;
  float: left;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #888888;
  display: block;
  height: 500px;
}

.content {
  width: 695px;
  height: auto;
  background-color: #CAE1FF;
  padding: 10px;
  margin: 10px;
  border: 5px solid #9ED2FF;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #888888;
}
.container {
  height: 100%;
  display: flex;
}
#allposts{
  float: left;
}
.aboutme {
  width: 200px;
  height: 500px;
  background-color: #CAE1FF;
  padding: 10px;
  margin: 10px;
  border: 5px solid #9ED2FF;
  float: left;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #888888;
  display: block;
}
html{
   background: radial-gradient(circle, #9ED2FF,#CAE1FF,white);
}
/*footer {
   display: flex;
}
#copyright{
  align-self: auto | flex-start | flex-end | center ;
}*/